doctype html
html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")

        script(src="http://ueditor.baidu.com/umeditor/third-party/jquery.min.js")
        script(src="https://cdn.bootcss.com/axios/0.16.2/axios.js")

        link(rel='stylesheet', href='http://ueditor.baidu.com/umeditor/themes/default/css/umeditor.min.css')
        script(src="http://ueditor.baidu.com/umeditor/third-party/template.min.js")
        script(src="http://ueditor.baidu.com/umeditor/umeditor.config.js")
        script(src="http://ueditor.baidu.com/umeditor/umeditor.js")
        script(src="http://ueditor.baidu.com/umeditor/lang/zh-cn/zh-cn.js")
    body
        block content