doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/lib/axios.js")
    script(src="/lib/jweixin-1.2.0.js")
    script(src="/lib/jquery.min.js")
  body
    block content

