doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdn.bootcss.com/axios/0.16.2/axios.js")
    script(src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js")
  body
    block content
