extends layout

block content
  div(style="margin: 40px;")
      input(style="margin: 40px;" type="button" value="上传图片")#uploadExcel
  form(target="uploadIframe" action="/upload/uploadFile" method="post" style="display: none" enctype="multipart/form-data")#uploadForm
    input(type="file" onchange="uploadFile()" name="upload" accept="image/png, image/jpeg")#fileSelect
    iframe(style="display: none;" name="uploadIframe")#uploadIframe
  div#app
      div(style="display:flex;flex-wrap: wrap;")
        div(v-for="item in list" )
            p {{item.name}}
            img(:src="item.url",style="width:100px;height:100px;margin:0 10px;")
            a(:href="'/delete/'+item.uuid+item.md5") 删除
  script(src="/lib/vue.min.js")
  script(src="/javascripts/upload.js")